#thaiflag{
    background-color: red;
    height: 600px;
    width: 900px;
    position: relative;
    border: 2px solid black;
}
#thaiflag > div {
    background-color: white;
    position: absolute;
    height: 300px;
    width: 100%;
    top: 150px;
}
#thaiflag > div > div {
    background-color: blue;
    position: absolute;
    top: 100px;
    height: 100px;
    width: 100%;
}
#thaiflag > div div p {
    text-align: center;
    padding: 25px;
}
p {
    color: white;
    text-transform: uppercase;
    font-family: serif;
}